body{
    margin: 0;
    overflow-x: hidden;
    line-height: 1.5;
    
}
#main{
    display: grid;
    grid-template-areas: 'nav nav nav''header header header' 'feature feature feature' 'contact contact contact' 'about about about'
    'footer footer footer';
    grid-template-rows: 5px 390px 220px 240px 280px 50px;
    grid-template-columns: 33.3vw 33.3vw 33.3vw 33.3vw;   
}
nav{
    grid-area: nav;
    background-color: rgb(45, 204, 112);

}
header{
    grid-area: header;
    background-image: url(../img/banner.png); 
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;
}
#discription{
    width: 80vw;
    height: 310px;
    display: flex;
    justify-content: space-around;
    padding: 0 20px; 
}
#apresentation{
    width: 27vw;
    height: 250px;
    display: flex;
    flex-direction: column;  
    color: white; 
    justify-content: space-around;
}
#apresentation p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
#sitename{
    display: flex;
    flex-direction: row;  
    text-shadow: rgba(24, 21, 21, 0.582) 2px 3px 2px;
}
#sitename h1:nth-child(1){
    font-family:'Pacifico', cursive;
    font-weight:100;
}
#sitename h1:nth-child(2){
    color:  rgb(45, 204, 112);
    align-self: flex-end;
}
#system{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#plataform{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plataform:hover{
    cursor: pointer;
    background-color: #2dcc70;
    transition: 0.9s;
}
#hand{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#hand img{
    width: 55%;
    height:300px; 
}  
#feature{
    grid-area: feature;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.detail{
    width: 240px;
    height: 180px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.radius{
    width: 60px;
    height: 60px;
    background-color: rgb(45, 204, 112);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.radius:hover{
    width: 70px;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(60, 60, 60, 0.527) 2px 3px 2px;
}
.radius img{
    justify-content: space-around;
    width: 30px;
    height: 30px;
}
.detail p, h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.detail h3{
    font-size: 10pt;
}
.detail p{
    color: gray;
    font-size: 9pt;
}
#contact{
    grid-area: contact;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#getnotified{
    width: 30vw;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;   
}
#getnotified h3{
    font-size: 10pt;
    text-align: left;
}
#getnotified p{
    font-size: 9pt;
    color: gray;
    text-align: left;
}
input{
    height: 20px;
    width: 50%;
    border: none;
    border-radius: 1em 0 0 1em;
    margin-right: -4px;
    outline-style: none;
    padding: 5px;
    color: rgb(45, 204, 112);
}
input::placeholder{
    padding: 2px;
    font-size: 8pt;
    color:gray;
    text-align: center;
}
button{
    background-color: rgb(45, 204, 112);
    width: 20%;
    border: none;
    border-radius: 0 1em 1em 0;
    height: 30px;
    color: white;
    font-weight: bold;
    outline-style: none;
    cursor: pointer;
}
#video{
    width: 40vw;
    height: 200px;
    display: flex;
    justify-content: center;
}
#video iframe{
    width: 30vw;
    height: 200px;
    box-shadow: rgba(24, 21, 21, 0.582) 2px 3px 2px;
}
#video iframe:hover{
    width: 35vw;
    height: 210px;
}
#about{
    grid-area: about;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#depositions{
    width: 55vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#depositions p:nth-child(1){
    font-size: 10pt;
    color: gray;
    font-style: italic;
    text-align: center;
}
#depositions h3:nth-child(1n){
    font-size: 11pt;
}
.mask{
    width: 30px;
    height: 30px;
    margin: 2px;
    background: url(../img/pessoa1.jpg);
}
#photos{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.mask:hover{
    cursor: pointer;;
    transition: 0.9s;
    background:
    linear-gradient(
      rgba(45, 204, 111, 0.6), 
      rgba(45, 204, 111, 0.6)
    ),
    url(../img/pessoa1.jpg);
} 
#depositions p:nth-child(2n){
    font-size: 10pt;
    color: gray;
    text-align: center;
}
#socialmidias{
    width: 55vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    width: 40px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.5);
    margin:3px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social img{
    width: 25px;
    height: 25px;
}
.social:hover{
    background-color: rgb(45, 204, 112);
    cursor: pointer;
    transition: 0.9s;
}
footer{
    grid-area: footer;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
}
#other{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#other a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-decoration: none;
    color: gray;
}
#other a:hover{
    color:rgb(45, 204, 112);
}
@media(max-width:768px){
    #main{
        grid-template-rows:5px 390px 220px 250px 310px 50px;
    }
    #getnotified{
        width: 32vw;
        height: 210px;
    }
}
@media(max-width:425px){
    #main{
        grid-template-rows:5px 390px 220px 380px 390px 50px;
    }
    #hand img{
        width: 57%;
        height:250px; 
    }
    #getnotified{
        width: 60vw;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input{
        width: 70%;
        border-radius:1em;
    }
    button{
        width: 30%;
        border-radius:1em;
        margin: 5px;
    }
    .mask{
        display: none;
    }
    #video, iframe{
        display: none;
    }
    #other{
        width: 90%;
    }
}
@media(max-width:375px){
    #main{
        grid-template-rows:5px 390px 600px 380px 390px 50px;
    }
    #hand img{
        display: none;
    }
    #discription{
        display: flex;
        justify-content: center;
        padding: 0 20px; 
    }
    #apresentation{
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #discription p{
        text-align: center;
    }
    #feature{
        flex-direction: column;
    }
    .social{
        width: 25px;
        height: 25px;
    }
    .social img{
        width: 15px;
        height: 15px; 
    }
}
@media(max-width:320px){
    #main{
        grid-template-rows:5px 390px 600px 380px 450px 50px;
    }
    #other{
        width: 100%;
    }
    #other a{
        font-size: 7pt;
    }     
}